## Visual Studio & Build artifacts
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log
*.exe

## IDE & Editors
.vscode/
.idea/

## Temp & Environment
scratch/
.tempmediaStorage/
appsettings.Development.json
appsettings.Local.json
